<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Membership is Expiring Soon</title>
</head>
<body>
<div>
    <h1>Hello, <span th:text="${username}">User</span>!</h1>
    <p>We wanted to remind you that your membership is expiring soon.</p>
    <p>Your current membership will end on <strong>
        <span th:text="${endDate}">[End Date]</span></strong>.</p>
    <p>To continue enjoying all the benefits of our service without interruption, please consider renewing your membership before it expires.</p>
    <p>If you have any questions or need assistance with the renewal process, feel free to reply to this email. We're here to help!</p>
    <p>Thank you for being a valued member of our community.</p>
    <p>Best regards,<br>The <strong>ZXC Company</strong> Team</p>
</div>
</body>
</html>
